/*
 Theme Name:   Foodpicky Child Theme
 Description:  A child theme of the Foodpicky WordPress theme
 Author:       trs team
 Template:     foodpicky
 Version:      1.0.0
*/

/*****Fade header background color*****/
/*****header background color*****/
.site-header {
	background-color: #ffffff;
}

.site-header.scrolled .header-main {
  background-color: #ffffff;
}


.site-title{

line-height: 4!important;
}

.link{

line-height:4!important;
}

#postcode_loader{
	position: absolute;
    float: left;
    width: 26px;
    bottom: 14px;
	display: none;
    left: 74px;
}


/*****notify me button style*****/
#notify_btn_id{
	background-color: #fd0e35;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border: none;
    display: block;
    padding: 0 80px 0 50px;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}

/*****home page background color*****/
.homepage-header-background::before {
	background: none;
}

/*****main header my account login dropdown hover color*****/
.site-header .header-main .header-my-account.logged-in .dropdown .link a:hover {
	color: #414551;
}

/*****Registration and login background color*****/
.site-header .header-main .header-my-account:not(.logged-in) .dropdown .link a {   
	background-color: #fd0e35;
    border: none;
}

/*****home page middle submit button bg color*****/
.static-header .container .azqf-query-form .wrapper input[type="submit"] {
	background-color: #fd0e35;
}

/*****home page middle title*****/
@media (max-width: 540px){
.static-header .container h1{
	font-size: 30px;
	}
}

@media (max-width: 480px) and (min-width: 321px){
.static-header .container h1{
	font-size: 17px;
	}
}

/*****356 restaurants matched your location New York NY Change Address bg color*****/
a {
	color: #fd0e35;
}

/*****Popular This Month In Your City div display none*****/
div[data-section="popular-products"]{
	display: none;
}

/*****The Best Food Delivery App section background color*****/
div[data-section="application"]{
	background-color: #ee504f;
	
}

/*****order steps padding top and bottom
.section.dark{
	padding: 50px 0;
}*****/

/*****order steps title padding bottom
.section .title{
	padding-bottom: 35px;
}*****/

/*****order steps two padding top none
@media (min-width: 768px){
.section.dark .order-step-wrapper .order-step:nth-of-type(2) {
	padding-top: 0px;
}
}*****/

/*****right arrow 
.section.dark .order-step-wrapper .arrow{
	width: 5%;
    height: 40%;
	top: 80px;
}*****/

/*****first arrow
.section.dark .order-step-wrapper .arrow.solid{
	left: 23%;	
}*****/

/*****second arrow
.section.dark .order-step-wrapper .arrow.flash{
	left: 48%;
}*****/

/*****thirt arrow
.section.dark .order-step-wrapper .arrow.dotted{
	left: 73%;
}*****/

/*****order steps border height and width*****/
.section.dark .order-step-wrapper .order-step .order-step-border {
	width: 130px;
    height: 130px;
}

/*****order steps number bg color*****/
.section.dark .order-step-wrapper .order-step .order-step-border .order-step-number {
	background-color: #fd0e35;
}

/*****order steps img width*****/
.section.dark .order-step-wrapper .order-step .order-step-border .order-step-img-width{
	width: 85%;
	
}

/*****mobile menu button display none*****/
.mobile-menu-button {
	display: none;
}

/*****footer social icon*****/
#cont-foot2 {
    list-style: none;
    /* text-align: center; */
}

#cont-foot2 ul {
    display: inline;
    /* text-align: center; */
    list-style: none;
    padding: 0px 0;
}

#cont-foot2 ul li {
    height: 45px;
    width: 45px;
    padding: 0 1% 0 1%;
    display: inline-block;
    font-family: Square Market,Helvetica Neue,sans-serif;
}

#cont-foot2 ul li a {
    padding: 10px;
    color: #fd0e35;
    display: inline-block;
    text-decoration: none;
}

.fa-2x {
    font-size: 2em;
}

/*****footer phone no color*****/
footer .highlighted {
	color: #fd0e35;
}

/*****login and registration font color*****/
.site-header .header-main .header-my-account:not(.logged-in) .dropdown .form label[for="register-toggle"] {
	color: #fd0e35;
}

/*****login button bg color my-account page*****/
.button, .wpcf7-submit, [type="submit"] {
	background-color: #fd0e35;
}

/*****Featured restaurants All Beverages Burgers Pasta display none*****/
.list-filter{
	display: none;
}

@media (min-width: 768px){
.profile-tabs .posts-list-wrapper .list-filter {
	display: none;
}
}

/*****footer copy right*****/

footer div[data-section] div.footer-cpr {
	margin-bottom: 0px;
	text-align: center;
    padding-top: 30px;
    color: #fd0e35;
}

footer div[data-section] div.footer-cpr p.copyright{
	margin: 0px;
}

/*****vandor edit profile submit button*****/
.cmb-form .buttons input[type="submit"]:hover {
	background-color: #fd0e35;
}

.cmb-form .buttons input[type="submit"] {
	background-color: #fd0e35;

}
/* To fix front page Cursur size */

.static-header .container .azqf-query-form .wrapper input[type="text"] {
 line-height: normal!important;

}

/*****vandor edit profile checkbox color*****/
.site-content input[type="checkbox"]:checked + label::before, .sidebar-container input[type="checkbox"]:checked + label::before, .woocommerce input[type="checkbox"]:checked + label::before, .search-wrapper input[type="checkbox"]:checked + label::before, .wpcf7 input[type="checkbox"]:checked + label::before, .header-my-account input[type="checkbox"]:checked + label::before, .ordering input[type="checkbox"]:checked + label::before {
    
    border: 1px solid #fd0e35;
    background-color: #fd0e35;
}

/*****login with facebook button*****/
.site-header .header-main .header-my-account:not(.logged-in) .dropdown .form .social-login a {
	width: 100%;
    height: auto;
	border-radius: inherit;
}
	
/*****Devo at Your Fingertips. Download the App. change before and after background image color*****/
.app-section::before, .app-section::after {
	background: url('/wp-content/uploads/2017/05/line.png');
}

/*****change main header bg image*****/
header {
    background-image: none;
	/*background-image: url(images/foodpicky/dark-pattern.jpg);*/
	
}

/*****vendor dashbord background color*****/
.line-widget.dashboard {
	background-color: #fd0e35;
}

/* The Modal (background) */
.modal {
   /* display: none;  Hidden by default */
   padding-top: 100px;
   
}

/* The Close Button */
.close {
    
    font-size: 28px;
   
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*****notify me input button*****/
.notify-header{
	text-align: center;
}
.img-style{
	width: 25%;
}

.img-responsive{
	display: initial;
}

#btnwth{
	width: 100%;
    display: inline-block;
    background-color: #fd0e35;
    color: #ffffff;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.2s ease;
    -khtml-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.product_loader_m::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
    /* color: #ff0202; */
    /* font-size: 2px; */
    /* text-align: left; */
     left: 30%; 
     top: 28%; 
    z-index: 99999;
    /* background: rgba(255, 255, 255, 0.8); */
    /* border-radius: 25px; */
    /* padding: 0px; */
}

.product_cart_remover::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
	margin-left: 260px;
    margin-top: 40px; 
    z-index: 99999;
 
}


.product_loader_main_cart::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
    left: 75%; 
    top: 28%; 
    z-index: 99999;
}

.edit_account_delete::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
 
     left: 50%; 
 
    z-index: 99999;
 
}

.edit_account_delete2::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
 
    z-index: 99999;
 
}

.product_extra_loader::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
    /* color: #ff0202; */
    /* font-size: 2px; */
    /* text-align: left; */
     left: 30%; 
     top: 15%; 
    z-index: 99999;
    /* background: rgba(255, 255, 255, 0.8); */
    /* border-radius: 25px; */
    /* padding: 0px; */
}

.product_main_loader  .entry-thumbnail::before, .product_main_loader  .itsme::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
	margin-top: 50px;
    margin-left: -25px;
    z-index: 99999;
 
}

.rider_tip_change_loader::before {
	content: url(https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg);
    position: absolute;
    left: 42%; 
    top: 70%; 
    z-index: 99999;
}

.product_main_loader .itsme::before {
    margin-left: -15px;
}

.product_extra_loader, .main_div_disable, .product_main_loader, .edit_account_delete_disable{
	opacity: 0.5;
    filter: grayscale(50%);
    pointer-events: none;
}

.product_main_loader{
 
   filter: none !important;
    
}

 
/* .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
} */

/*****featured shops on front page span reviews*****/
.profile-item .entry .entry-additions .reviews {
	 display: none; 	
}

/*****faq's templates header entry design*****/
.entry-header{	
	margin-bottom: 20px;	
}

.dev-page-header-inner {    
	position: relative;    
	z-index: 1;    
	overflow: hidden;    
	background-color: #eee;
}

.dev-outer {    
	width: 100%;    
	height: 100%;    
	vertical-align: middle;    
	display: table;
}

.dev-inner {    
	max-width: 1120px;    
	padding: 60px 0;    
	text-align: left;    
	display: block;    
	margin: 0 auto;
}

.dev-text-centered {    
	text-align: center;
}

.text-head {    
	font-size: 40px;
	font-family: initial;
}

/*****after header fqa*****/

#aboutDEVO, #usingDEVO, #q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #q12, #q13, #q14, #q15 {
	outline: none;    
	text-align: justify;    
	padding-left: 20px;    
	/* font-size: 1.5rem;  */   
	line-height: 1.5em;
}


.disabled {
  
    background-color: #fcfbf900 !important;
}  

#aboutDEVO {
	margin-top: 60px;
}

p.quest-title {
    color: #414551;
    font-size: 25px;
    font-weight: bold;
}

/*****advance search widget title in shop page*****/
.widget-title h3{
	display: block;
}

/*****shop page middle background image*****/
.site-main {
	background-image: none;
	/* background:#f3f5f5; */
	background: #f3f3f3;
}


/*****shop page shop's reviews section*****/
.entry.list-profile .entry-additions .reviews {
	display: none;
}

/*****shop page shop's div width*****/
.entry.list-profile {
	width: 42%;
	float: left;
	margin-left: 6%;
}

@media screen and (max-width: 699px) {
	.entry.list-profile {
		width: 100%;
		float: none;
		margin-left: 0;
	}
}

/*****shop page 20000+ products div*****/
.entry.list-profile .entry-additions {
	width: 140px;
	padding: 15px;
}

/*****20000+ products border*****/
.entry.list-profile .entry-additions .more-link {
	line-height: 20px;
    height: 50px;
}

/*****shop page shops image width*****/
.entry.list-profile .entry-thumbnail {
    width: 20%;
}

/*****Delivering to postcode section search*****/
.search-product{
	float: right;
    padding-top: 6px;
}

/*****Delivering to postcode section search box input*****/

.before-list .search-product input[type="search"]{
	background-color: #ffffff;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ededed;
    background-image: none;
    box-shadow: none;
    color: #414551;
    box-sizing: border-box;
    padding: 0 15px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.search-field{
	line-height: 55px;
    height: 40px;
    padding: 0 30px;
    border: none;
	/* background-color: #f2f1f3; */
    background-color: #ffffff;
}

/*****display product title on Londis shop*****/

.profile-products .entry .entry-data .entry-title h3 {
	display: block;
}

/*****home page shop title (Featured shops)*****/
@media (min-width: 768px){
.profile-tabs h3{
	display: block;
}
}

/*****display product count in home page
.profile-item .entry .entry-data .entry-footer .reviews .label{
	display: block;
	color: #fd0e35; 
}*****/


/*****reviews count display none on home page*****/
span.count{
	display: none;
}

/*****archive page display none author name*****/
.shop-product .entry .avatar span, .related-product .entry .avatar span {
	display: none;
}

/*****archive page shop limit*****/
.shop-product .entry .entry-additions .avatar + .meta-field label{
	display: inline-block;
}

.shop-product .entry .meta-field label{
	width: 53px;
}

.shop-product .entry .meta-field .value{
	float: none;
}

/*****minimum order amount and delevery time before *****/
.meta-field.order label::before, .meta-field.minimum-order-amount label::before {
	display: none;
}

.profile-item .entry .entry-data .entry-footer .meta-field::before, .profile-item .entry .entry-data .entry-meta .meta-field::before, .profile-item .entry .entry-data .entry-extra .meta-field::before, .profile-item .entry .entry-data .entry-footer .taxonomy::before, .profile-item .entry .entry-data .entry-meta .taxonomy::before, .profile-item .entry .entry-data .entry-extra .taxonomy::before {
	
	display: none;
}

.entry.list-profile .entry-data .entry-footer .meta-field::before, .entry.list-profile .entry-data .entry-meta .meta-field::before, .entry.list-profile .entry-data .entry-extra .meta-field::before, .entry.list-profile .entry-data .entry-footer .taxonomy::before, .entry.list-profile .entry-data .entry-meta .taxonomy::before, .entry.list-profile .entry-data .entry-extra .taxonomy::before {
	display: none;
}

/*****minimum order amount and delevery time image hegiht *****/
.profile-item .entry .entry-data .entry-footer .meta-field img, .profile-item .entry .entry-data .entry-meta .meta-field img, .profile-item .entry .entry-data .entry-extra .meta-field img, .profile-item .entry .entry-data .entry-footer .taxonomy img, .profile-item .entry .entry-data .entry-meta .taxonomy img, .profile-item .entry .entry-data .entry-extra .taxonomy img {
	
	max-height: 15px;
}

.entry.list-profile .entry-data .entry-footer .meta-field img, .entry.list-profile .entry-data .entry-meta .meta-field img, .entry.list-profile .entry-data .entry-extra .meta-field img, .entry.list-profile .entry-data .entry-footer .taxonomy img, .entry.list-profile .entry-data .entry-meta .taxonomy img, .entry.list-profile .entry-data .entry-extra .taxonomy img {
	
	max-height: 15px;
}

.entry.list-profile .entry-data .entry-footer .meta-field {
	
    margin: 5px 35px 5px 0;
}

/*********************/
.meta-field.delivery-time::before {
	display: none;
}

/*---------------Header Menu Bar-----------------*/

.dropdown-content a {
    color: #fd0e35;
    padding: 10px;
    text-transform: uppercase;
    display: block;
}
.app-section .app{
    /* margin-top: -70% !important; */
	margin-top: -24% !important;
	margin-bottom:-3px !important;
}

/*  body.admin-bar .site-header.scrolled .header-main {
     position: fixed !important; 
} */ 
@media  (min-width: 768px) {
 ul.product_list_widget {
 height:400px !important;
  overflow-y:scroll; 
}
ul::-moz-scrollbar {
width: 3px;
}
ul::-moz-scrollbar-track {
-moz-box-shadow: inset 0 0 6px #fff);
background:#000;
}
ul::-moz-scrollbar-thumb {
border-radius: 10px;
-moz-box-shadow: inset 0 0 6px #fff;
background:#7A252B;
}
/* width */
ul::-webkit-scrollbar {
    width: 5px;
}

/* Track */
ul::-webkit-scrollbar-track {
    background: #eee; 
}

/* Handle */
ul::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li
{
	padding:20px !important;
}
.widget_shopping_cart .widget_shopping_cart_content .total{
	padding:5px 5px 0;
}
}

.product_list_widget::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.product_list_widget ::-webkit-scrollbar {
    width: 0.5em;
	background: #F5F5F5;
}
.product_list_widget::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} 

.site-header .header-main{
    padding: 1px 0 0 !important;
}

.badge{
	display:none!important;
}
.cart_head_total{
	line-height:3!important;
}
.profile-tabs{
	background:#f3f5f5!important;
}

.profile-tabs h3{
	text-align:center!important;
	font-family: inherit!important;
	font-size:34px;
}
#how-deliver-step-id{
	display:none!important;
}
#how-to-deliver-id{
	display:none!important;
}
.static-header{
	margin-bottom:97px!important;
}
#colophon{
	background:black!important;
	
	padding: 74px 0 42px!important;
}
.copyright{
	color:white;
}

.dark{
	padding: 60px 0 45px!important;
}



@media (min-width: 768px){
	

.profile-tabs h3 {
    float: unset!important;
   
}
}

/* css for customize dhop profile page   */
.before-shop-loop::before, .before-list::before{
	background:#fff;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove {
	display:none;
}



/*css for auto complete text box*/
/*@media (min-width: 1200px) { */
/*
.widget-area .before-list{
	z-index:4;
}
.trs-custom-cat-widget .before-list {
    z-index:0;
}

#searchprodinvendor,#searchresshop{
	z-index:9999999;
	position:absolute;
	background:#fff;
	overflow-y:scroll;
	cursor:pointer;
	border:1px solid #ddd;
	width:330px;
	display:block;
	border-radius:3px;
	max-height:55vh;
	display:none;
	box-shadow: 1px 1px 4px 1px #ccc;
}
.blackautocomtext{
	color:#fd0e35;
}
#searchprodinvendor ul li,#searchresshop ul li{
	border-bottom:1px solid #ddd;
	margin-right:5px;
}

.widget-area .before-list{
	z-index:100;
}
.trs-custom-cat-widget .before-list {
    z-index:0;
}
#searchprodinvendor::-webkit-scrollbar,#searchresshop::-webkit-scrollbar  {
    width: 5px;
}

#searchprodinvendor::-webkit-scrollbar-track,#searchresshop::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
#searchprodinvendor::-webkit-scrollbar-thumb,#searchresshop::-webkit-scrollbar-thumb {
    background: #ff000094; 
}
#searchprodinvendor::-webkit-scrollbar-thumb:hover ,#searchresshop::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.product_name_sugg_auto,.product_name_sugg_all{
	color:grey;
	line-height:30px;
	padding:3px;
    width:300px;
	display:block;
	font-size:14px;
		overflow: hidden;
	white-space/:nowrap;
    text-overflow: ellipsis; 
}
.product_name_sugg_auto:hover,.product_name_sugg_all:hover{
	color:#272727;
	background-color:#eee;
	opacity:0.8;
}
.boldclass{
	font-weight:bold;
  }
 */

/*} */


/* start new css 05/03/18 for home page start trs_ar*/
.app_trs_ar{
	padding-top:8%;
	height:525px;
	padding-bottom:1%;
} 
.app_button_tra_ar{
	height:58px;
	width: 38%;
}
.app_content_trs_ar{
	margin-top: 67px;
}
@media only screen and (max-device-width:767px) {
	
	#azh_widget-44{
		text-align:center;
	}
	.app_trs_ar{
		padding-top: 16%; 
	}
	.app-section h2{
		margin-top: 0px!important; 
	} 
	.section{
		    padding-bottom: 3%!important;
	}
	.app_button_tra_ar{
		height:58px;
		width: 40%;
	}
	 .horizontal-list-2:not(.posts-list-wrapper) > *{
	margin-bottom: 8px !important; 
}
	
}
@media only screen and (max-device-width:550px) {
	.app_trs_ar{
		padding-top: 13%; 
	}
	
}
@media only screen and (max-device-width:400px) {
	.app_trs_ar{
		padding-top: 8%; 
	}
	
}
@media only screen and (max-device-width:480px){
	div.featured_shop div.entry-thumbnail{
		float:left;
	}
	div.featured_shop div.entry-additions{
		
			margin-top:20px;
	}
	div.featured_shop div.entry-header{
		margin:auto;
		margin-top: 20px;}
	
	div.featured_shop div.entry-data{
		
	}
}
@media only screen and (min-width: 359px) and (max-width: 412px){

	.entry-title:first-child>a{
		   margin-left: -38px!important; 
	}
	 .entry-thumbnail:first-child{
		text-align:unset!important;
	}
	
	.link{
	margin-top: 18px;
    width: 22px;
	}
	
	.site-header .header-main .site-title img{
		     height: 30px!important;
			max-height:73%!important;
	}

}
@media only screen and (max-width: 360px){
	.profile-item .entry .entry-data .entry-title a:first-child{
		margin-left:0px!important;
		
	}
	 .entry-data{
		text-align:unset!important;
	}
}

	.link{
	margin-top: 18px;
	}
	
	.site-header .header-main .site-title img{
		    height: 30px!important;
			max-height:73%!important;
	}


@media only screen and (max-width: 480px) {
    .profile-item .entry .entry-thumbnail .image{
		height:70px!important;
		width:70px!important;
	}
	.entry-additions{
		/* margin:0px!important; */
	}
	.profile-item .entry .entry-data{
		    text-align: unset !important; 
	}
	.profile-item .entry .entry-thumbnail{
		width:max-content!important;
	}
	div.featured_shop div.entry-header{
		
		margin-top: 0px!important;
	}
	 /* .profile-item .entry .entry-additions{ */
		 
	 /* } */
	 .profile-item .entry .entry-thumbnail,
  .profile-item .entry .entry-data,
  .profile-item .entry .entry-additions{
		  display: inline-block!important;
		  padding:17px 7px!important;
	  }
	  
}
@media only screen and (min-width: 150px) and (max-width: 361px){
	.profile-item .entry .entry-data{
		text-align:left!important;
	}
	.entry-summary{
		text-align:left!important;
	}
}

.featured_shop > .filterable{
	margin-bottom:-10px!important;
}
#feature_cus-id{
	margin-bottom:0px!important;
	margin-top: -27px;
}
.filterable{
	margin-bottom:0px!important;
}

.profile-tabs .posts-list-wrapper .posts-list{
 padding-top: 21px!important;
}
.section .profile-tabs{
	padding-bottom:10px!important;
}
#smartbanner.android,#smartbanner {
	    border-top: 5px solid #fd0e35!important;
		    background: #f4f4f4!important;

}
#smartbanner.android .sb-button span{
	    background-color: #fd0e35!important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff9bab),to(#fd0e35))!important;
}
#smartbanner.android .sb-info strong ,#smartbanner .sb-info strong{
    color: #fd0e35!important;
}
#smartbanner.android .sb-info ,#smartbanner .sb-info {
    color: #fd0e35!important;
}

#smartbanner.android .sb-info ,#smartbanner .sb-info{
   
  text-shadow: unset!important; 
}
#smartbanner.android .sb-button{
	color: #fcfbf9!important;
}
#smartbanner .sb-button{
	    background: -webkit-linear-gradient(top,#fd0e35 0,#fd0e35 100%)!important;
		color: #fff!important;
}

#smartbanner .sb-close{
	    top: 30px!important;
	border: 0!important;
    width: 17px!important;
    height: 17px!important;
    line-height: 17px!important;
    color: #b1b1b3!important;
    background: #1c1e21!important;
    text-shadow: 0 1px 1px #000!important;
    box-shadow: 0 1px 2px rgba(0,0,0,.8) inset, 0 1px 1px rgba(255,255,255,.3)!important;
}
#smartbanner .sb-button {
        min-height: 28px;
    right: 20px;
    top: 24px;
    border: 1px solid #bfbfbf;
    padding: 0 10px;
    min-width: 10%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
	text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6), 0 1px 0 rgba(255,255,255,.7) inset;
}