@font-face {
    font-family: Avenir Next Heavy ;
    src: url("Avenir_Next_Heavy.otf") format("opentype");
}
@font-face {
    font-family: Avenir Next Demi Bold;
    src: url("Avenir Next Demi Bold.otf") format("opentype");
}@font-face {
    font-family: Avenir Heavy;
    src: url("Avenir-Heavy.otf") format("opentype");
}

   body {
        overflow-x:hidden;
    }
   
   .container_bg{
    
        background-color:#fd0e35;
    }
    .p_style{
        color:white;
        font-size:15px;
        padding: 15px 11px 3px 0px;
        font-weight:600;
        font-family: unset;
       
    }
    
    .p_styletwo{
        color:white;
        font-size:16px;
        padding: 15px 11px 3px 0px;
        font-weight:600;
        font-family: unset;
       
    }
      
    .p_seccond_style{
        font-size:20px;
        color:white;
        font-weight: 700;
        text-align: center;
		/* font-family:avenir next bold; */
    }
    .p_download{
      padding: 8px 0px 0px 0px;
        
        
    }

    .img_style{
          
        margin-top:5px;
        margin-top:12px;
        max-height:35px;
        max-width: 90px;
    }
       
    .container_custom{
        padding-right: 0px !important;
        padding-left: 0px!important;
        margin-right: auto!important;
        margin-left: auto!important;
        min-height: -webkit-fill-available;
        background: #fd0e35;
    }
    
    .button_style{
        background-color: #ab1a1a;
        color: white;
        font-weight:600;
        font-family: unset;
        width: 83px;
        padding:5px 1px 5px 0px;
    }
    
    .p_des{
        font-size: 14px;
        color:rgba(72, 70, 70, 0.83);
        text-align: center;
		letter-spacing: 1px;
		font-family:Avenir Heavy;
		color:white;
        
    }
    .container_background {
      
        background-image: url(img/store6.png);
        background-position: center;
        background-size: 55% 87%;
        background-repeat: no-repeat;
    }   
        
    /* seccond page */
    
    .p_seccond_page{
    
        font-size:14px;
        text-align:center;
        color:white; 
        letter-spacing: 1px;
        font-weight: inherit;
		font-family:Avenir Heavy;
    
    }
     
    .container_background_repeat{
        background-image: url(img/store.png);
        background-size: 70px 97px;
        background-repeat:no-repeat;
        
    }
    
    
    .container_background_img{
        background-image: url(img/main.png);
        background-position:center;
        background-repeat:no-repeat;
        background-size: 100% 96%;
        
    }
    
    .img_padding{
        
        padding: 0 7px 0px 0px;
    }
    
    
       
    /* iPhone 4 (landscape) ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
     
        .p_download{
            
            margin-left: 8px;
        }
    
        .p_style{
            
            margin-left: 50px;
        }    
     
    }
    /* iPhone 5 (landscape) ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
     
        .button_style{
            
           margin-left: 51px;
        }
        .p_style{
            
            margin-left:70px;
        }       
      
    }
    /* nexus 7 (portrait) ----------- */
    @media only screen and (min-device-width: 600px) and (max-device-width:1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
      
        .p_des{
            
            font-size: 28px !important;
			font-family:Avenir Next Demi Bold;
        }
    
        .p_seccond_style{
            
           font-size: 30px;  
		   /* font-family:avenir next bold; */
        }
    
    
    }
    /* lenovo tab (portrait) ----------- */
    @media only screen and (max-device-width:640px)and (min-device-width:600px){
         
        .p_des{
            
            font-size: 28px !important;
			font-family:Avenir Next Demi Bold;
        }
    
        .p_seccond_style{
            /* font-family:avenir next bold; */
           font-size: 30px;  
        } 
        
    }
     
     
    /* nexus 6 (portrait) ----------- */
    @media only screen and (min-device-width:412px) and (max-device-width:732px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
      
        .p_des{
            
            font-size: 14px !important;
			font-family:Avenir Next Demi Bold;
        }
    
        .p_seccond_style{
          /*   font-family:avenir next bold; */
            font-size:20px;  
        }
        
    
    }
    
    /* iPhone 6 (landscape) ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      
        .p_style{
            
            margin-left: 88px;
        }  
      
    }
        
    /* iPads (landscape) ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
   
        .p_style{
          
            margin-left: 157px;
        }  
     
        .p_download{
        
            float: right;
        } 
        .p_heading{
        
            font-size: 30px;
        
        }
     
        .mobile_img_row{
        
           margin-left: 493px;
           margin-top: -303px;
        }
        .apple_img_width{
        
            width: 156px;
            height: 316px;
        }
    
        .container_img_width{
        
            margin-top: -50px;
        
        }
      
        .img_google{
            height: 50px;
            margin-left: 215px;
            margin-top: -54px;
            width: 140px;
        }
    
        .img_apple{
             height: 50px;
             width: 140px;
             margin-top: -52px;
        }
    
        .img_google_width{
			
            width:60%;
        
        }
        .img_apple_row{
        
         width:51%;
         
        }
    
        .p_seccond_page{
			font-family:Avenir Next DemiBold;
            text-align:justify;
            font-size:20px;
        }    
         
        .tab_row_width{
        
            width:50%
          
        }
    
         
        .bg_color{
        
            background-color:#fd0e35;
        }
        .main_row_margin{
        
            margin-top: 58px;
            
        }  

         
        .p_des{
            
            font-size: 28px !important;
			font-family:Avenir Next Demi Bold;
        }
        
        .p_seccond_style{
            /* font-family:avenir next bold; */
           font-size: 30px;  
        }

        .img_google_ipad{
            
            float: right !important;
        }

        .row_margin_ipad{
            
            margin-top: 82px;
            
        } 
        .p_ipad{
            
            margin-left: 200px;
        }    
        
        .p_ipad_secc{
            
            margin-left: 235px;
        }
        
        .ipad_img_apple{
            
            margin-left: 87px;
        }
        .ipad_img_google{
            
            margin-right:96px;
        }
        
        .ipad_iphone{
            
            margin-left: 85px;
        }
		
		.margin_left_img{  
			
			margin-left: 92px !important;
		}
        
    
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
     
        .p_style{
          
            margin-left: 61px;
        }  
          
        .p_download{
          
            float: right;
        } 
         
        .mobile_img_row{
        
            margin-left: 383px;
            margin-top: -254px;
        
        }
        .apple_img_width{
        
            width: 156px;
            height: 316px;
        }
        
        .container_img_width{
        
            margin-top: -50px;
        
        }
        
        
        .img_google{
        
            height: 52px;
            margin-left: 215px;
            margin-top: -54px;
            width: 140px;
        
        }
        
        .img_apple{
        
            height: 50px;
            width: 140px;
            margin-top: -52px;
        
        }
        
        .img_google_width{
			
            width:60%;
        
        }
        .img_apple_row{
        
            width:51%;
            
        }
        
        .p_seccond_style{  
            /* font-family:avenir next bold; */
            font-size: 28px !important;
        }
        .p_seccond_page{
			font-family:Avenir Next DemiBold;
            text-align: -webkit-auto;
            font-size: 24px;

        } 

            
         
        .tab_row_width{
        
            width:50%
          
        }    
         
        .bg_color{
        
            background-color:#fd0e35;
            
        }
        .main_row_margin{
        
            margin-top: 58px;
        } 
        
        .container_margin_ipad{
            
            margin-top: 118px;
            
        }
        .p_des{
            
            font-size: 28px !important;
			font-family:Avenir Next Demi Bold;
        }
        
        .p_seccond_style{
            /* font-family:avenir next bold; */
            font-size: 25px;  
        }
        
        .p_ipad{
            
            margin-left:100px; 
            font-size:19px;           
            
        }
        .p_ipad_secc{
            
            margin-left:133px; 
            font-size:19px; 
        }
		
		.margin_left_img{
			
			margin-left: 45px;
		}
        
       
    
    }
    /* nexus 10 (portrait) ----------- */
    @media only screen and (min-device-width:800px) and (max-device-width:1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
      
        .p_des{
            
            font-size:36px !important;
			font-family:Avenir Next Demi Bold;
        }
        
        .p_seccond_style{
            /* font-family:avenir next bold; */
            font-size: 25px !important;  
        }
    
    
    }
    
    
    /* nexus 7 (portrait) ----------- */
    @media only screen and (min-device-width:600px) and (max-device-width:960px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
      
        .p_des{
            
            font-size:28px !important;
			font-family:Avenir Next Demi Bold;
        }
    
        .p_seccond_style{
            /* font-family:avenir next bold; */
           font-size: 25px !important;  
        }
    
    
    }
        
   /* ipadpro (portrait) ----------- */
    @media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
       

        .p_des{
            
            font-size:42px !important;
			font-family:Avenir Next Demi Bold;
        }
    
        .p_seccond_style{
            /* font-family:avenir next bold; */
           font-size: 44px !important;  
        } 
        .img_google_ipad{
            
            
            float:right;
        }

        .p_style{
            
            margin-left: 131px;
            font-size: 19px;
        }  

        .p_heading{
            
            font-size:30px !important;
            
        }

        .p_seccond_page{
            font-family:Avenir Next DemiBold;
            font-size: 28px;
            text-align: -webkit-auto !important;
         
        }

        .apple_img_width{
            
            margin-left: 222px;
            margin-top: -15px;
               
        }  

       .margin_left_img{
		   
		    margin-left:111px !important;
            margin-top:40px;		  
	    }
        
        .mobile_img_row {
            margin-left: 511px;
            margin-top: -254px;
        }
       	
      
    }
    /* ipadpro (landscape) ----------- */
   @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	  

		.p_seccond_style{
			/* font-family:avenir next bold; */
			font-size: 41px;
		}
		.p_des{
			
			font-size:38px;
			font-family:Avenir Next Demi Bold;
		}
		/* .row_main{
			
			margin-top: 59px;
		} */
	    .img_google_ipad{
				
		    float: right !important;
		}	
		.margin_left_img{
			 
			margin-left:180px;
		}

		.tab_row_width{
			
			width:50%
			  
		}    
		.apple_img_width_fourth {
            
            margin-left: 682px;
            margin-top: -302px;
        }
        
		.p_fourth_style{
		
			font-size: 40px !important;
			
		}
		
		.p_fourth{
			
			font-size:20px!important;
		}
		
		.row_play_store{
			
			margin-top: -92px;
		}
		
		.row_main_ipad_pro{
			
			margin-top: 94px !important;
		}
		
		.container_bg{
		
			background-color:#fd0e35;
		}
        
    }