.wc-credit-card-form-stripe-post-code, .wc-credit-card-form-card-cvc, .wc-credit-card-form-card-expiry, .wc-credit-card-form-card-number{
	font-family: 'Open Sans', sans-serif !important;
}


.icon_width{
    max-width: 13% !important;
    height: 60px;
    width: 60px;
	 
}

.custom_devo{
	display: none;
	border-radius:5px;
	text-align:center;
}
.change-color{
	color:#8686e2 !important;
}
.chnge-clr{
	color: Black;
}
.check-h1{
	margin-top: 10px;
	color: #424242;
	font-size: 22px;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
.check-text{
	margin-top: 5px;
	color: #424242;
	font-size: 12px;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
	font-weight: 300 !important;
	line-height: 21.6px !important;
}
.wizard {
	text-align: center;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover {
	display:none !important;
} 
.wizard > .steps .disabled a {
    display: none;
}
.woocommerce-billing-fields label {
	display: none !important;
	
} 
.woocommerce-billing-fields{
	width: 32%;
	display: inline-block;
}
.woocommerce-billing-fields p textarea{
	height:80px !important;
	resize: none;
}

.wizard>.actions {
	text-align:center;
	width:100%;
}
.woocommerce-info {
	display: none;
}

p#billing_postcode_field {
	width:49%;
	display: inline-block;
		
}
p#billing_phone_field{
	width:50%;
	float: right;
	margin-left:3px;
}
@media only screen and (max-width: 500px) {
    .wizard > .actions a{
		margin-left: -3%;
		margin-right: -3%;
	} 
	p#billing_postcode_field {
		width:100%;
		display: inline-block;
		
	}
	p#billing_phone_field{
		width:100%;
		display: inline-block;
		margin-bottom: 10px;
	}
	.woocommerce-billing-fields {
		width: 100% !important;
	}
	.wizard>.actions a{
		padding: 0.7em 6em !important;
	}
	#cancel_address_btn {
		width: 92% !important;
		margin-left: 15px !important;
	} 
	#cancel_addrs_btn{
		width: 92% !important;
		margin-left: 15px !important;
	}
	#save_add {
		width: 92% !important;
		margin-left: 15px !important;
	}
	.selectRadio1{
	    margin-left: -3px !important;
		z-index: -1 !important;
	}
	.wc-credit-card-form-card-number{

	    width: 331px !important;
	}
}

.selectRadio1{
	margin-left:19px;
	z-index:-1;
}
#save_add{
	width:95%;
	margin-left: 0px;
}
#cancel_address_btn{
	width: 95%;
    margin-left: 15px;
}
#cancel_addrs_btn{
	width: 95%;
    margin-left: 15px;
}


.shop_table{
	/* display:none !important; */
}
.woocommerce-checkout-review-order-table{
	display:none !important;
}



.head-orders{
	text-align: center;
    font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
    line-height: 2.1em;
    margin-top: -60px;
	font-size: 25px !important;
}
.woocommerce-pagination a{
	width: 15% !important;
}

 .wc-credit-card-form-card-expiry{
	float: left;
    width: 50%;
    display: inline-block;
}

.woocommerce form .form-row {
    margin-bottom: 0px;
}
.wizard>.steps{
	display:none;
}

body.page-template-default .entry.page {
	 background: none !important;
	 border: none !important;
	
}
/* .wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover {
	padding: 0.7em 10em;
	background: #fd0e35;
    line-height: 2.4em;
	border-radius: 5px;
} */

.wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover {
	padding: 0.6em 10em;
    background: #fd0e35;
    line-height: 2.4em;
    border-radius: 5px;
    margin-left: 43px;
}
#finish{
	width;100%;
	
}
.wizard>.actions>ul>li{
    margin: 15px 8.5em;
    width: 400px;
    margin-right: 163px;
}

.stripe_new_card label{
	display: none !important;
}

.wc-credit-card-form{
	margin-left:29%;
	margin-right:28%;
	   
}


.wc-credit-card-form-stripe-post-code{
	margin-left:30% !important;
	width: 41% !important;
	margin-top:8px !important;
}
.payment_box{
	background: none !important;
}
#payment div.payment_box input.input-text {
    border-color: #ccc !important;
    border-top-color: #ccc !important;
}
#billing_myfield12{
	border-color: #ccc !important;
    border-top-color: #ccc !important;
}
.woocommerce-billing-fields p:nth-last-child input{
	display:none !important;
}

.woocommerce-billing-fields woocommerce-validated{
	display:none !important;
}

.payment_method_stripe{
	margin-left:3% !important;
	margin-top: -1% !important;
}

#payment div.payment_box{
	width: 95% !important;
	padding:none;
	margin:none;
}

.wizard>.actions>ul>li {
	display:none;
}
#_field{
	display:none;
}

/*----Payment Css----*/

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
font-size: 14px !important;
    padding: 0 15px;
	font-family: serif;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry{
font-size: 14px !important;
    padding: 0 15px;
	font-family: serif;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc{
font-size: 14px !important;
    padding: 0 15px;
	font-family: serif;
	margin-top: -55px !important;
	
}
.site-content input[type="tel"],.woocommerce input[type="tel"]{
	/* width: 97% !important; */
}



.wc-credit-card-form-card-number{
	width: 100% !important;
	height: 55px !important;
	border-radius: 0px !important;
}
.wc-credit-card-form-card-expiry{
	float: left !important;
    width: 49.6% !important;
	height: 55px !important;
	  border-radius: 0px !important;
}

.wc-credit-card-form-card-cvc{
	float: right !important;
	width: 49.5% !important;
	height: 55px !important;
	  border-radius: 0px !important;
	
} 

.wc-credit-card-form-stripe-post-code{
	height: 55px !important;
    border-radius: 0px !important;
}




/*----------------Billing--------------------------*/

input#billing_address_1,input#billing_address_2,input#billing_postcode,input#billing_phone{
	min-height: 55px;
    border-radius: 0px !important;
}
#custom-div_bill{
	width: 100%;
	display: inline-block;
	border-radius: 5px;
}

#over_add_flow::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #F5F5F5;

}
#over_add_flow::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}
#over_add_flow::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
#over_add_flow{
	width: 100%;
	display: inline-block;
	min-height: 81px;
	max-height: 185px;
	overflow-y: auto;
	overflow-x: hidden;
}
a.btn-dlt{	
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
	font-size:13px;
	font-weight: 300;
}
input.selectRadio{
	height:20px !important;
}

.radio_box{
	margin-left:22px !important;
}
.radio_box1{
	margin-left:-11px !important;
}
.hidesheak_bc{
	display:none;
}
span.ca_spn{
	width: 100%;
	text-align: left;
	float: left;
    font-size: 14px;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
span.ca_spn_h1{
	width: 100%;
	text-align: left;
	float: left;
	font-weight:600;
    font-size: 14px;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
#a_div{
	width:100%;
	display:inline-block;
}
a#add-new-add{
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
	font-size:16px;
	text-align:left;
	color: black;
	
}
span.del{
	float: right;
	right: 3%;
	position: absolute;
}
p.checkboxtitle-cus {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
#order_comments_field{
	display:none;
}

.checkout_saved_addresses_row {
    padding: 12px 0;
}

/*-----Add New Address Button----*/

#add_div{
	width:100%;
	display:inline-block;
}

.woocommerce-MyAccount-content{
	width:55%;
	margin-left:25%;
}

#edit-fm-line{
    /* background: #ccc; */
	border-top: 1px dashed #ccc;
	border-width: 2px;
    display: -webkit-inline-box;
    height: 1px;
    width: 95%;
    margin-left: 15px;
	margin-top: 4px !important;
	margin-bottom: 8px !important;
}
.errorpayment{
	
	background-color:#fd0e35;border-radius: 3px;width:592px;margin-left:16px;margin-right:10px;height: 53px;
}
.errortext{
	font-size: 11px !important;
		line-height: 24px;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 0px 0 !important;
	   color:white;
}


hr{
	border:0;
	margin-bottom:1.5em;
	margin-top: 20px;
	box-sizing: content-box;
}

.custom-form-css {
    width: 100%;
    border: 0.5px solid #CCC;
    border-radius: 4px;
    margin-bottom: 4%;
	padding-left: 15px;
    padding-right: 15px;
}
.gen-name-cls-right {
    padding: 0px 0px 15px 7px;
    display: inline-block;
}
.gen-name-cls {
	padding: 0px 7px 15px 0px;
	display: inline-block;
}
.gen-name-cls-mid{
	padding: 0px 7px 15px 7px;
	display: inline-block;
}
.gen-name-full{
	padding: 0px 0px 15px 0px;
	display: inline-block;
}
.gen-name-cls span, .gen-name-cls-right span, .gen-name-full span, .gen-name-cls-mid span{
	float: left;
	font-size: 16px;
	margin-right: 30%;
	font-weight: 700;
}
#edit_link_gen {
    float: right;
    padding: 2% 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
	font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
} 
.del a{
	text-decoration: none;
}
 a:hover {
    /* color: #000 !important; */
    text-decoration: underline;
}
#edit_link_gen a:hover {
    cursor: pointer;
}
form.edit-account .btn-csl{
	background:#FD0E35;
	color:#fff;
	font-weight: bold;
	border-radius:2px;
	border:1px solid #D8D8D8;
}
form.edit-account .btn-csl:hover{
	border:1px solid #fff;
}
form.edit-account .btn-save{
	background:#FD0E35;
	color:#fff;
	font-weight: bold;
	border-radius:2px;
	border:1px solid #FD0E35;
}
form.edit-account .btn-save:hover{
	border:1px solid #fff;
}


#general_head{
	float: left;
	padding: 2% 0px 0px 0px;
	font-size: 20px;
	font-weight: 700;
	color: #414551;
	font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
}
#stp_d{
	float: right;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
	font-family:AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
#edit-div_gen{
	display:none;
}
#edit-div_pwd{
	display:none;
}
#edit-div_addrs{
	display:none;
}
#edit-div_card{
	display:none;
}
#edit_link_gen{
	float: right;
	padding: 2% 0px 0px 0px;
	font-size: 20px;
	font-weight: 700;
}
.custm-btn {
	width: 100%;
	height: 40px;
	font-size: 16px !important;
	padding: 2% !important;
	text-align: center;
	/* margin-left: 75px */
}

.custm-btn:hover{
	/* color: #50e3c2 !important; */
}

.gen-12{
	width: 100% !important;
}
.gen-name-gen, .gen-name-edit{
	padding: 0px;
}

.custom-input {
    width: 100%;
    float: left;
    height: 40px;
    border-radius: 2px !important;
    border: 1px solid #CCC !important;
    padding: 10px !important;
    font-size: 16px;
    font-weight: 700 !important;
	font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
}
.woocommerce-MyAccount-navigation{
	display:none;
}
.head-account{
	text-align:center;
	font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
	line-height:2.1em;
	margin-top: -60px;
}
#address-add-div{
	width: 35%;
    margin-left: 33%;
}
/*-----Payment Details Image Margin---- */

#payment ul.payment_methods li img {
	margin: 1px 0 0 0.5em !important;
}

/*-----Payment Details Image Margin End Here---- */

.site-content input[type="radio"]:not(checked),.woocommerce input[type="radio"]:not(checked){
	position: absolute !important;
    opacity: 1 !important;
	-webkit-appearance: radio !important;
    -moz-appearance: radio !important;
	
}

#wizard .payment_methods li input {
    margin-top: 8px !important;
    margin-right: 0px !important;
}

#payment ul.payment_methods{
	border-bottom:none !important;
}
.promocode_anchor {
	left: 50px !important;
    text-align: left !important;
    
	margin-left: 5%;
	text-decoration: none !important;
}
#coupon_code {
    width: 100%;
    display: inline-block;
	padding: 3px;
}

#coupon_div {	
	padding: 0 0%;
	width: 55%;
	text-align: center;
    margin-left: 22%;
	display: inline-block;	
	font-size: 12px;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
a:focus{
	/*  color: #fd0e35 !important;  */
	/* color: #ffffff !important;
	text-decoration:none; */
} 

.woocommerce-error{
	padding: 1em 2em 1em 3.5em!important;
	position: relative;
}
.woocommerce .woocommerce-error {
    border: 2px solid #fd0e35;
    background-color: #fff;
    display: inline-block;
}
.woocommerce .woocommerce-error {
    width: auto;
}
.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before {
    font-family: WooCommerce;
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
	
}

.promo-code{
	
}
#cr{
	text-align:left;
	margin-top:0px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: left;
}
#cr .woocommerce-message{
	display: block !important;
	margin-bottom: 0px !important;
}

@media (max-width: 768px){
	.woocommerce-billing-fields {
		width: 100% !important;
	}
}

<!-----Media Query for Saved Address----------------------->

@media screen and (min-width:1327px) and (max-width: 2652px) {
		#address-add-div{
			margin-right: 16% !important;
			margin-left: -58% !important;
		}
	}

@media screen and (min-width:1200px) and (max-width: 1326px) {
		#address-add-div{
			margin-left: 33% !important;
		}
	}
	
@media screen and (min-width:1200px){
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
		width: 357px !important;
		margin-left: -78% !important;
	}
	
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc {
		width: 178.55px !important;
		margin-right: -103px !important;
	}
	
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry {
		width: 174.97px !important;
		margin-left: -78% !important;
	}
	
	.wc-credit-card-form-stripe-post-code{
		width: 357px !important;
		margin-left: 1% !important;
	}
	
}
	
	
	
@media screen and (min-width:992px) and (max-width: 1199px) {
	#custom-stripe-error{
		width: 84% !important;
		margin-left: 75px !important;
	}
	#address-add-div{
		margin-right: 0% !important;
		margin-left: 31% !important;
	}
	#address-add-div {
		width:44% !important;
	}
	.hr_line{
		width:50% !important;
	}
	#pg_margin {
		margin: 0px -420px!important;
	}
	#fm_del{
		margin-right: 2px;
	}
	.wc-credit-card-form-stripe-post-code{
		width: 312px !important;
	}
	 
 
}






@media screen and (min-width:731px) and (max-width: 991px) {
	
	#custom-stripe-error{
		width: 96% !important;
		margin-left: 19px !important;
	}


	#address-add-div{
		margin-right: 0% !important;
		margin-left: 0% !important;
	}
	#address-add-div {
		width:100% !important;
	}
	.hr_line{
		width:100% !important;
	}
	#pg_margin {
		margin: 0px -420px!important;
	}
	#fm_del{
		margin-right: -51px;
	}

	.wc-credit-card-form-stripe-post-code{
		margin-left: 413px !important;
		width: 585px !important;
	}


}


@media screen and (min-width:650px) and (max-width: 767px) {
		.wc-credit-card-form-stripe-post-code{
		margin-left: 418px !important;
		width: 585px !important;
	}
}


@media screen and (min-width:650px) and (max-width: 731px) {
	#address-add-div{
		margin-right: 0% !important;
		margin-left: 22% !important;
	}
	#address-add-div {
		width:58% !important;
	}
	.hr_line{
		width:60% !important;
	}
		}
		
		
@media screen and (min-width:586px) and (max-width: 649px) {
	#address-add-div{
		margin-right: 28% !important;
		margin-left: 17% !important;
	}
	#address-add-div {
		width:65% !important;
	}
	.hr_line{
		width:65% !important;
	}
}



@media screen and (min-width:320px) and (max-width: 585px) {
	#address-add-div{
		margin-left: 0% !important;
		width: 100%;
	}
	.hr_line{
		width:100% !important;
	}
	span.del {  
    float: right;
    right: -46%;
    position: absolute;
}
 .a_margin{
	    margin-right: 120px !important;
  }
  .icon_width{
	
	
	     max-width: 35% !important;
}
  

} 
@media screen and (min-width:320px) and (max-width: 540px) {
	.saved_add_address_anchor{
		text-align: center;
	}
	#add-new-add{
		right:35% !important;
		margin-right:122px !important;
	}
	.hr_line{
		width: 98% !important;
	}
	.woocommerce-MyAccount-content {
		width:100%;
		margin-left:0%;
	}
	.radio_box {
		margin-left: 0px !important;
	}
	
	.wc-credit-card-form-card-expiry{
		width: 100% !important;
	}
	.wc-credit-card-form-card-cvc{
		width: 100% !important;
	
	}
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc{
		margin-top: 8px !important;
	}
	
	
}


@media screen and  (max-width:412px)  and (min-width: 375px){
	
	#custom-stripe-error{
		
		width: 104% !important;
       margin-left: 16px !important;
	}
	
	  .wc-credit-card-form-card-number{
	 margin-left: -106px !important; 
     width: 368px !important;
     margin-top: 42px !important;
}

.wc-credit-card-form-card-expiry{
	  margin-left: -106px  !important; 
      width: 368px !important;
	
  
}   

.wc-credit-card-form-card-cvc{
	margin-left: -106px !important;
    float: left !important;
    width: 367px !important;
	
   
} 

	
}
@media screen and  (max-width:414px)  and (min-width: 412px){
	
	#custom-stripe-error{
		
		    width: 106% !important;
           margin-left: 8px !important;
	}
	
	
  .wc-credit-card-form-card-number{
	 margin-left: -105px !important; 
     width: 367px !important;
     margin-top: 42px !important;
}

.wc-credit-card-form-card-expiry{
	  margin-left: -105px  !important; 
      width: 367px !important;
	
  
}   

.wc-credit-card-form-card-cvc{
	margin-left: -105px !important;
    float: left !important;
    width: 367px !important;
	
   
} 

.wc-credit-card-form-stripe-post-code{
	margin-left: -5px !important;
    width: 367px !important;
	
  
}

.wc-credit-card-form{
	margin-top:36px!important;  
	
}

}	


@media screen and  (max-width:384px)  and (min-width: 375px){
	
	.wc-credit-card-form-card-number {
		width: 310px !important;
		margin-left: -125px !important;
	}
	
	.wc-credit-card-form-card-expiry {
		width: 310px !important;
		margin-left: -125px !important;
	}
	
	.wc-credit-card-form-card-cvc {
		margin-left: -125px !important;
		float: left !important;
		width: 310px !important;
	}
	
	
	.wc-credit-card-form-stripe-post-code {
		margin-left: -26% !important;
		width: 147% !important;
	}
	
}



@media screen and  (max-width:375px)  and (min-width: 360px){
	
	
	.wc-credit-card-form-card-number{
	   width: 330px !important;
    margin-left: -92px!important;
   
}

.wc-credit-card-form-card-expiry{
	 width: 330px !important;
    margin-left: -92px!important;
	  
  
}   

.wc-credit-card-form-card-cvc{
	
	 width: 330px !important;
    margin-left: -92px!important;
	 
   
} 

.wc-credit-card-form-stripe-post-code{
	
	    margin-left: -3px !important;
         width: 330px !important;
	   
  
}
	
#custom-stripe-error{
	           width: 106% !important;
    margin-left: 10px !important;
}	
	
	
}

@media screen and  (max-width:360px)  and (min-width: 320px){  
	
	
	#stripe-card-number{
	    margin-top: 36px!important; 
		
	}
  .wc-credit-card-form-card-number{
	    margin-left: -135px !important;
    width: 313px !important;
	 
   
}

.wc-credit-card-form-card-expiry{
	     margin-left: -135px !important;
    width: 313px !important;
	  
  
}   

.wc-credit-card-form-card-cvc{
		margin-left: -134px !important;
		width: 311px !important;  
		float: left !important;
 
} 

.wc-credit-card-form-stripe-post-code{
		margin-left: -74px !important;
		width: 310px !important;
	   
  
}


#custom-stripe-error{
	       width: 108% !important;
           margin-left: 21px !important;
}


	
}

@media screen and  (max-width:320px) {
	
	
	.wc-credit-card-form-card-number{
	        margin-left: -120px !important;
    width: 270px !important;
   
}

.wc-credit-card-form-card-expiry{
	    margin-left: -120px !important;
    width: 270px !important;
	  
  
}   

.wc-credit-card-form-card-cvc{
	
	    margin-left: -120px !important;
    width: 270px !important;
	 
   
} 

.wc-credit-card-form-stripe-post-code{
	
    margin-left: -70px !important;
    width: 270px !important;
	   
  
}

#custom-stripe-error{
	       width: 108% !important;
           margin-left: 7px !important;
}	

#custom-div_bill{
	
	    margin-left: 11px !important;
	
}	
}



@media screen and  (max-width:412px) and (min-width:410px){
	.wc-credit-card-form-card-number {
		margin-left: -150px !important;
		width: 365px !important;
	}
	
	.wc-credit-card-form-card-expiry {
 
		margin-left: -150px !important;
		width: 365px !important;
	}
	
	.wc-credit-card-form-card-cvc {
		margin-left: -150px !important;
		width: 365px !important;
	}
	
	.wc-credit-card-form-stripe-post-code {
 
		margin-left: -73px !important;
		width: 365px !important;
	}
	
}


@media screen and (min-width:601px) and (max-width: 730px) {
		
	#custom-stripe-error{
		width: 110% !important;
		margin-left: -15px !important;
	}
	
	.a_margin{
		margin-right: 398px !important;  
	}

	.wc-credit-card-form-card-number{
		margin-left: -233px !important;
		width: 612px !important;
		height: 55px !important;
	}
	
	.wc-credit-card-form-card-cvc{
		width: 334px !important;
		float: right !important;
		margin-right: -233px !important;
		height: 55px !important;		
	} 

	.wc-credit-card-form-card-expiry{
		margin-left: -233px !important;
		width: 274px !important;
		height: 55px !important;
	}
	
	.wc-credit-card-form {
		margin-left: 29% !important;
		margin-right: -20% !important;
	}

	.wc-credit-card-form-stripe-post-code{
		width: 613px !important;
		margin-left: -103px !important;
		height: 55px !important;
	}


}
 
  
  
		
		
@media screen and (max-width: 640px)  and (min-width:620px){
	.wc-credit-card-form-card-number {
		margin-left: -225px !important;
		width: 550px !important;

	}
	.wc-credit-card-form-card-expiry{
		margin-left: -225px !important;
		width: 270px !important;

	}
	
	.wc-credit-card-form-card-cvc {
		width: 275px !important;
		float: left !important;
	 
		margin-left: 50px !important;
	}
	
	.wc-credit-card-form-stripe-post-code {
		width: 550px !important;
		margin-left: -118px !important;
	 
	}
	
}

  
  
  
@media screen and (max-width:598px) and (min-width: 543px) {
	
	

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
    width: 500px !important;
    margin-left: -160px;
}


.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry {
    width: 243px !important;
    margin-left: -160px;
}




.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc {
	width: 250px !important;
    margin-right: -190px !important;
}


.wc-credit-card-form-stripe-post-code{
	width: 500px !important;
    margin-left: -40px !important;
}

	 
 }
 
  
  
  
@media screen and (max-width: 600px) and (min-width: 598px){
 
	.wc-credit-card-form-stripe-post-code {
		width: 520px !important;
		margin-left: -121px !important;
	}
	
	.wc-credit-card-form-card-number {
		width: 520px !important;
		margin-left: -218px !important;
	}
	  
	.wc-credit-card-form-card-expiry {
		width: 245px !important;
		margin-left: 56px !important;
	}
		
	.wc-credit-card-form-card-cvc {
		width: 268px !important;
 
		float: left !important;
		margin-left: -218px !important;
	}
		  
	  
}
  
		
@media screen and (max-width: 481px)  and (min-width:479px){
	.wc-credit-card-form-card-number, .wc-credit-card-form-card-expiry {
		margin-left: -155px !important;
		width: 400px !important;

	}
 
	
	.wc-credit-card-form-card-cvc {
		width: 400px !important;
		float: left !important;
		margin-left: -156px !important;
	}
	
	.wc-credit-card-form-stripe-post-code {
		width: 400px !important;
		margin-left: -62px !important;
	 
	}
	
}

  
  
  
  
  
  
  
  
/* ------PaymentCheckout CSS------ */

.payment_method_cod{
	display: none !important;
}

#card-list-div{
	width: 44% !important;
    margin-left: 29% !important;
}
#enter_nc_btn{  
	margin-left: 29%; !important;
	text-decoration: none;
}

.promocode_anchor{
	margin-right: 25% !important;
}

@media (max-width: 540px){
	.payment_actions_labels {
		display: block !important;
		
	}
	#enter_nc_btn {
		margin-left: 0% !important;
	}
	#card-list-div {
		width: 100% !important;
		margin-left: 4% !important;
	}
	.promocode_anchor{
		text-align: center !important;
		margin-left: 0% !important;
	}
	.add_saved_anchor{
		margin-left: 0% !important;
	}
	.promocode_anchor {
		left: 50px !important;
		margin-left: 2% !important;
		text-decoration: none !important;
	}
	.wc-terms-and-conditions label{
		margin-left: 15% !important; 
	}
	
}
.newpromocode_anchor{
	margin-left:31% !important;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:15px;
  border:1px solid red;
  border-radius:50%;
  background-color:red;
  background: none repeat scroll 0 0 #94E325;
  
}
input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
		background-color: #d1d3d1;
        visibility: visible;
        border: 2px solid red;
		background: none repeat scroll 0 0 #94E325;
}

#ship-to-different-address span{
	display: none;
}

/* Error Message show in checkout page */

#checkout_form_new.woocommerce-error{
	margin-top: 144px !important;
    position: absolute !important;
    margin-left: 30%;
    z-index: 99999;
}

  .fb_addnew{
	position:relative;
	right:80px;
	float:right;
	text-decoration: none; 
	color:#424242;
	font-size:16px; 
	font-weight: bolder;
}
#fm_row{
margin: 0 15px !important;
}


.woocommerce-additional-fields > h3{
	display:none;
}

/* This is added to hide error and notice from woocommerce on checkout page */
.woocommerce-NoticeGroup-checkout {
    display: none;
}
#custom-stripe-error > ul.woocommerce-error{
	border: 2px solid #FD0E35;
	background-color:#FD0E35;
    width: 108%;
    margin-left: -28px !important;
}
#custom-stripe-error > ul.woocommerce-error:before {
    content: "\e016";
    color: white;
	line-height: 1.4 !important;
	

}
#custom-stripe-error > ul.woocommerce-error > li {
		content: "\e016";
		color: white;
		line-height: 1.4 !important;
		font-size: 13px !important;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 0px 0 !important;
	
}




	#custom-stripe-error{
	/* background-color: #FD0E35; */
	padding-left: 0;
    color: white;
    width: 36%;
    margin-left: 326px;
	line-height: 1.4 !important;
	font-size: 11px !important;
	font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
	}
	



/*end   This is added to hide error and notice from woocommerce on checkout page */







@media screen and (width:732px){

/* 	.wc-credit-card-form-stripe-post-code {
		margin-left: 411px !important;
		width: 579px !important;
	}
	 */	 
	 
	.wc-credit-card-form-stripe-post-code {
		width: 613px !important;
		margin-left: -130px !important;
		height: 55px !important;
	}
	 
	.wc-credit-card-form-card-cvc {
		width: 299px !important;
		float: left !important;
		height: 55px !important;
		margin-left: 65px !important;
	}
	
	.wc-credit-card-form-card-number {
		margin-left: -249px !important;
		width: 612px !important;
		height: 55px !important;
	}
	
	.wc-credit-card-form-card-expiry {
		margin-left: -248px !important;
		width: 305px !important;
		height: 55px !important;
	}
	
	
}


.input-checkbox{
	margin-right: 22px !important;
}


.payment_box.payment_method_stripe{
	margin-left: 11px !important;
}

#custom-div_bill .img-check{
	margin-left: -6px;
    margin-top: 3px;
}

#custom-div_bill .check-h1{
	margin-top: 13px !important;
}

#custom-div_bill .check-text{
	margin-top: 14px !important;
}

/* .wizard>.content>.body label {
    margin-left: -12px;
}
 */
.finish-btn{
    padding-right: 127px !important;
    padding-left: 120px !important;
}

.over_add_flow{
	margin-left: 17px !important;
}

.brand-visa{
	width: 94% !important;
}

#card-list-div {
    width: 405.59px !important;
	margin-left: 228px !important;
}

#enter_nc_btn {
    margin-left: 27% !important;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
    font-weight: 300;
}

.wc-terms-and-conditions .checkbox{
	margin-left: -8px !important;
}

#hr_line1{
	width: 401.750px !important;
    margin-left: 26.5%  !important;
}

.abrakadabra{
	margin-right: 72px !important;
}

#add-new-add{
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
label[for=payment_method_stripe]{
    display:none !important;
}