@font-face {
    font-family: Avenir Next Demi Bold;
    src: url("Avenir Next Demi Bold.otf") format("opentype");


} 

.tinkuminku{

}

a.added_to_cart{
	display:none !important;
}

/* fix header size */
.site-header .header-main {
    position: relative;
    width: 100%;
    padding: 17.5px 0 0 !important;
    z-index: 5;
    box-sizing: border-box;
    min-height: 0px !important;
}
/* Product Listing Page */

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
/* remove underline from all anchor tag */
 a{
	text-decoration: none !important;

 }
.title {
  color: grey;
  font-size: 12px;
  font-weight:bold;
}
.ptext{
	font-size: 38px;
    font-weight: 600;
}
.containerbg{

	background-color: white;
}

.panel{
    margin-bottom: 0px;
	z-index:1111;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:145px;

}

.msg_container_base{
   margin: 0;
   max-height:150px;
  overflow-x:hidden;


}

.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}
.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.sidebar-1 {
    position: fixed;
    top: 210px;
    right: 0;
    padding-right: 0px;
    padding-left: 0px;

    background: #fff !important;
    padding: 1%;
    width: 19%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-position: top;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
}
.s_spn {

    font-size: 12px;
    line-height: 24px;
    font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
	 margin: 0px 0 !important;
	     color: black;
}
.selectsave{
    background: #fd0e35;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    padding: 5px 5px 5px 10px;
    text-align: left;
    font-weight: 500;
    font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
    position: inherit;
}

.getmylife{

    color: #414551 !important;
	cursor:pointer;
}

/* Product Listing Page Ends Here */

#target-span {
  background-color: #00a8ec;
  width: 100%;
  height: 30px;
  margin: 0;
  padding-right: 10px;
}

.message-count {
  color: #fff;
  font-size: 10px;
  font-family: Arial, san-serif;
  font-weight: bold;
}
/* use for price header top */

.badge {

	right: 9px !important;
    top: -11px !important;
}

}
.hide_cartprice{
	   margin-top: 6px;
}
.messages img {
  width: 15px;
  height: auto;
}

.messages {
  width: 31px;
  height: 19px;
  background-image: url(https://i.imgur.com/aoXZqPc.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 15% 0 0 0;
  position: relative;
}

.badge {
	/* background: radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px ); */
	/*background: -moz-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
	background: -ms-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
	background: -o-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );*/
	/* background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px ); */
	/* background-color: #ed2324; */
	background-color: #fd0e35;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 5% 5%;
	display: block;
	position: absolute;
	right: 13px;
    top: -9px;
    z-index: 10;

}

.message-count {
  position: relative;
  display: block;
  font: bold 14px/13px Helvetica, Verdana, Tahoma;
  text-align: center;
  margin: 0;
  top: 2px;
}


.hide_image{

display:none !important;
}

.hide_logimg{
	display:none !important;

}

/* This code has been added to make the header text bolder on homepage */
.static-header .container h1{
	font-weight: 600 !important;
}

/* This code has been added remove the red space between homepage mobile app and footer */
.app-section .app{
    margin-bottom: -9px !important;
}

/* This code has been added remove the red space between homepage mobile app and footer */
footer ul.two-columns li{
	width: 100% !important;
    float: none !important;
}

/* This code has been added to center the shop logo everywhere */
.profile-item .entry .entry-thumbnail .image{
	background-position: center center;
}

.entry.list-profile .entry-thumbnail .image{
	background-position: center center;
}

/* This code has been added to remove red boredr in shop page around the shop logo */
.entry.single-profile-middle .entry-thumbnail a .image{
	border: none !important;
	background-size: cover !important;
}
.entry.single-profile-middle .entry-thumbnail a{
	background-color: transparent !important;
}

/*This code has been added here to add loader for ajax on center of screen*/
#divLoading
{
    display : none;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('https://devo.co.uk/wp-content/themes/foodpicky-child/img/newloader.svg');
    /* background-color:#666; */
    /* opacity : 0.4; */
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}
/*Loader code ends here*/

/*This code has been added to remove big large block after clicking on confirm and pay on checkout page*/
.blockOverlay{
	display:none !important;
}

/* Header Customization Starts here */

@media only screen and (max-width:768px) and (min-width: 310px) {

	.link span {
		display:none !important;
	}

	.link a{
		display:none !important;
	}

	.hide_image{
	 display:block !important;
	}

	.hide_cartprice{
		display:none !important;
	}
	.imgshow{
		color:red;
	}
	.hide_logimg{
	display:block !important;

}
.dropdown::after{
	display:none !important;

}

.header-my-account.logged-in .dropdown .link img{

	    border-radius: 0% !important;
}

}


/* This code has been added to remove wheel and scroll from all input type numbers in site */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Supports Mozilla */
input[type=number] {
    -moz-appearance:textfield !important;
}



/* Header Customization Starts here */



/*css use for pagination for product */

.custom-pagination-list-div > ul{
	padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.custom-pagination-list-div > ul >li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
	border: 1px solid #ddd;
    border-radius: 4px;
	/*padding: 0px 12px;*/
	padding: 0px 12px 0px 12.5px;
}

.custom-pagination-main-div{
	   font-size: 21px !important;
	   font-weight: 600 !important;
       margin-left: 20px !important;
}


	.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 11px !important;
    margin-left: 4px!important;
    line-height: 1.42857143!important;
    color:grey;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	}

	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #fd0e35;
    border-color: #fd0e35;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    /*margin: 22px -897px;*/
	margin-bottom:30px;
    border-radius: 4px;
    z-index: 1111;
    bottom: -27px !important;
    position: absolute;
}
.alignright{
	display:none !important;
	width: 123px;

    position: relative;
	border-radius: 3px;
    float: right !important;
    padding: 14px 38px !important;

    line-height: 1.42857143!important;
    color: grey;
    text-decoration: none;
    background-color:#fd0e35;

    margin-right: 64px;

}
 .font_pagi{

	color:#fff !important;
    font-size:15px;
}

.alignleft{

	display:none !important;

	width: 123px;
    position: relative;
    float: left;
	border-radius: 3px;
    padding: 14px 15px !important;
    margin-left: 64px!important;
    line-height: 1.42857143!important;
    text-decoration: none;
    background-color: #fd0e35;

}

 .navigation{

	z-index: 1111;
    bottom: 53px !important;
 position: absolute;
	 }


/*end pagination*/
.filterable:not(.showed) {
    visibility: inherit !important;
    opacity: inherit !important;
    height: 0 !important;
    display: inherit !important;

}
.td_amount{

}


@media only screen and (min-device-width :732px) {

	.custom_micro_cart{
		 display: none !important;

	 }




}

@media only screen and (max-device-width :375px) {


	.alignleft{
		   margin-left: 38px!important;
		       display: block !important;
		}
	.alignright{
		 margin-right: 49px !important;

	}

	.custom_micro_cart {
		  position: fixed;
          bottom: 1%;
          width: 99.5%;
		  z-index:1111;

	}

	.caret_td_width {
    width: 120px !important;
    }

	.mybasket_td_width {

     width: 181px !important;
    }
	.custom_mini_cart_div{
	  display: none;
	}

	.widget_shopping_cart > .widget-title{
		display:none;
	}

	.result-count{
		 display: none !important;

	 }
	 .search-submit{


			/*position: absolute !important;*/
			float:right;
			position: relative !important;
			/*************/
	    margin-top: -39px !important;
			margin-left: 290px !important;
			z-index: 1111;


	 }
	 .search-field{

		     margin-left: -2px !important;
			    width: 294px !important;
	 }

}

 @media only screen and (max-device-width :360px) {
	 /*css use for pagination*/
	.alignleft{
	display:none !important;
	display:block !important;
	width: 123px;
    position: relative;
    float: left;
	border-radius: 3px;
    padding: 14px 15px !important;
    margin-left: 39px!important;
    line-height: 1.42857143!important;
    text-decoration: none;
    background-color: #fd0e35;
	}
	.alignright {
	display:none!important;
	width: 123px;
	position: relative;
	border-radius: 3px;
    float: right !important;
    padding: 14px 38px !important;
    line-height: 1.42857143!important;
    color: grey;
    text-decoration: none;
    background-color:#fd0e35;
    /*border: 1px solid #ddd;*/
    margin-right: 36px !important;

}

	 .custom_micro_cart {
		  position: fixed;
          bottom: 1%;
          width: 99.5% !important;
		  z-index:1111;

	 }

	 .caret_td_width {
               width: 123px !important;
     }

	 .mybasket_td_width {
                   width: 166px!important;
     }
	.custom_mini_cart_div{
	  display: none;
	 }

	.widget_shopping_cart > .widget-title{
		display:none;
	}

	.result-count{
		 display: none !important;

	 }



	 .search-submit{
		     margin-left: 274px !important;

	 }
	 .search-field{

		     margin-left: -2px !important;
			 width: 277px !important;
	 }

}
@media only screen and (min-device-width :412px)and (max-device-width :414px) {

	.alignright{

	display:block !important;
	width: 123px;

    position: relative;
	border-radius: 3px;
    float: right !important;
    padding: 14px 38px !important;

    line-height: 1.42857143!important;
    color: grey;
    text-decoration: none;
    background-color:#fd0e35;
    /*border: 1px solid #ddd;*/
    margin-right: 64px;

}
 .font_pagi{

	color:#fff !important;
    font-size:15px;
}

.alignleft{

	display:block !important;

	width: 123px;
    position: relative;
    float: left;
	border-radius: 3px;
    padding: 14px 15px !important;
    margin-left: 64px!important;
    line-height: 1.42857143!important;
    text-decoration: none;
    background-color: #fd0e35;
    /*border: 1px solid #ddd;*/
}


	 .custom_micro_cart {
		  position: fixed;
          bottom: 1%;
          width: 99.5%;
		  z-index:1111;

	}

	.caret_td_width {
      width: 137px !important;
    }
	.mybasket_td_width {
    width: 199px !important;
}
	.custom_mini_cart_div{
	  display: none;
    }

	.widget_shopping_cart > .widget-title{
		display:none;
	}
	.result-count{
		 display: none !important;

	 }


	 .search-submit{
			/*margin-top: -39px !important;
			margin-left: 324px !important;*/
			z-index: 1111;
			/*position: absolute !important;*/
			float:right;

	 }
	 .search-field {
		     width: 315px !important;

	 }





}

@media only screen and (max-device-width :320px) {
	/*css use for pagination*/
	.alignleft{
		margin-left: 15px!important;
	}

	.alignright{
		margin-right: 19px!important;

	}
	/*css end for pagination*/

	.custom_micro_cart {
		  position: fixed;
          bottom: 1%;
          width: 80%;
		  z-index:1111;

	}
	 .caret_td_width {
       width: 100px !important;
    }

	 .mybasket_td_width {
      width: 146px !important;
    }
	.custom_mini_cart_div{
	  display: none;
	}

	.widget_shopping_cart > .widget-title{
		display:none;
	}

	 .result-count{
		 display: none !important;

	 }

    .search-field {
		     width: 238px !important;

	 }

    .search-submit{

		margin-left: 234px !important;
	}

}

@media screen and (max-width:1024px) and (min-width: 1000px){
	.navigation {
		z-index: 1111;
		bottom: 0 !important;
		margin-left: 170px;
 position: absolute;

	}
	
	
   .alignright{
	   display:block !important;

   }
   .alignleft{
	   display:block !important;

   }

   .pagination {
    display: none !important;
    padding-left: 0;
    margin: 22px -709px;
    border-radius: 4px;
    z-index: 1111;
    bottom: -27px !important;
    position: absolute;
}
 

   /*css end pagination*/
   	.profile_take_it_home{

		width: 146px !important;
		float: left !important;
		margin-left: -2px !important;
	}
	/*css use for category menu for mobile view */
	.overflow_div{
    overflow-x: auto;
    overflow-x: scroll !important;
    white-space: nowrap!important;
    display: inline-flex!important;
    overflow-y: hidden!important;
    width: 729px!important;
    overflow-x: auto!important;
    margin-left: -33px!important;
	}
	
}


@media screen and (max-width:1000px) and (min-width: 768px){
   /*css use for pagination*/
   .alignright{
	   display:block !important;

   }
   .alignleft{
	   display:block !important;

   }

   .pagination {
    display: none !important;
    padding-left: 0;
    margin: 22px -709px;
    border-radius: 4px;
    z-index: 1111;
    bottom: -27px !important;
    position: absolute;
}
	.navigation {
		z-index: 1111;
		bottom: 180px !important;
		margin-left: 170px;
 position: absolute;

	}

   /*css end pagination*/
   	.profile_take_it_home{

		width: 146px !important;
		float: left !important;
		margin-left: -2px !important;
	}
	/*css use for category menu for mobile view */
	.overflow_div{
    overflow-x: auto;
    overflow-x: scroll !important;
    white-space: nowrap!important;
    display: inline-flex!important;
    overflow-y: hidden!important;
    width: 729px!important;
    overflow-x: auto!important;
    margin-left: -33px!important;
	}

}

@media screen and (max-width:736px) and (min-width: 639px){
	/*css use for pagination*/



	.alignright{
	   display:block !important;

   }

   .alignleft{
	   display:block !important;

   }
	.navigation {
    z-index: 1111;
    bottom: 200px !important;
    margin-left: 170px;
 position: absolute;

	}

	.pagination {
    display: none;
    padding-left: 0;
    margin: 553px -692px !important;
    border-radius: 4px;
    z-index: 1111;
    bottom: -27px !important;
    position: absolute;
}

/*css end pagination*/

/*css use for scoll login form*/
	#form_scroll{
    max-height: 401px !important;
    overflow-y: scroll !important;
  }

   /*css end  scoll login form*/
	.profile_take_it_home{

		 width: 142px !important;
		   float: left !important;
		       margin-left: -2px !important;
	}
	.margin_register{
    max-height: 401px !important;
    overflow-y: scroll !important;
   }

/*css use for category menu for mobile view */
	.overflow_div{
    overflow-x: auto;
    overflow-x: scroll !important;
    white-space: nowrap!important;
    display: inline-flex!important;
    overflow-y: hidden!important;
    width: 729px!important;
    overflow-x: auto!important;
    margin-left: -33px!important;
	}

}



@media screen and (max-width:640px) and (min-width: 415px){
	/*css use for pagination*/



	.alignright{
	   display:block !important;

   }

   .alignleft{
	   display:block !important;

   }
	.navigation {
    z-index: 1111;
    bottom: 255px !important;
    margin-left: 110px;
 position: absolute;

	}

	.pagination {
    display: none;
    padding-left: 0;
    margin: 553px -692px !important;
    border-radius: 4px;
    z-index: 1111;
    bottom: -27px !important;
    position: absolute;
}

/*css end pagination*/

/*css use for scoll login form*/
	#form_scroll{
    max-height: 401px !important;
    overflow-y: scroll !important;
  }

   /*css end  scoll login form*/
	.profile_take_it_home{

		 width: 142px !important;
		   float: left !important;
		       margin-left: -2px !important;
	}
	.margin_register{
    max-height: 401px !important;
    overflow-y: scroll !important;
   }

/*css use for category menu for mobile view */
	.overflow_div{
    overflow-x: auto;
    overflow-x: scroll !important;
    white-space: nowrap!important;
    display: inline-flex!important;
    overflow-y: hidden!important;
    width: 729px!important;
    overflow-x: auto!important;
    margin-left: -33px!important;
	}

}



@media screen and (max-width:736px) and (min-width: 415px){

	.profile_take_it_home{
		width: 142px !important;
		   float: left !important;
		       margin-left: -2px !important;
	}

   .overflow_div{
    overflow-x: auto;
    overflow-x: scroll !important;
    white-space: nowrap!important;
    display: inline-flex!important;
    overflow-y: hidden!important;
    width: 729px!important;
    overflow-x: auto!important;
    margin-left: -33px!important;
	}


}


@media screen and (max-width:320px) and (min-width: 290px){

	.profile_take_it_home > card > entry-thumbnail {

		 margin-left:-12px !important;
	}

}


@media screen and (max-width:1024px) and (min-width: 290px){

.site-header .header-main {
    padding: 20px 0 !important;
        /* min-height: 75px !important; */

   }
}

@media screen and (max-width:414px) and (min-width: 290px){

	.custom-pagination-div{

		    display: none !important;
	}
	.alignright{
		display:block !important;


	}
	.alignleft{

	}
	
	#tertiary .sidebar-inner .widget-area .widget, #additional .sidebar-inner .widget-area .widget {
		padding-top: none !important;
		padding-left: none !important;
		padding-right: none !important;
		padding-bottom: none !important;
		border-radius: none !important;
		background-color: transparent !important;
		overflow: hidden;
		border: none !important;
		border-top: none !important;
	}
	
	#tertiary .sidebar-inner .widget-area .widget:first-of-type, #additional .sidebar-inner .widget-area .widget:first-of-type {
		border-top: none !important;
	}

}


.prev_new{
	    margin-left: 15px;
}


#outer1
{
    width:100%;
    text-align: center;
}
.inner1
{
    display: inline-block !important;
	background-color: #fd0e35;
}

@media screen and (min-width:1025px){

	#outer1{
		display:none;
	}
	

}

@media screen and (max-width:1025px){

	.navigation {
		z-index: 1111;
		bottom: 0 !important;
		margin-left: 0;
		position: relative;

	}
	
	.alignleft{
		float: none !important;
	}
	
	.alignright{
		float: none !important;
	}

}

.disabled {
        pointer-events: none;
        cursor: default;
		background-color: #ecc2c8;
    }
	

.closed_new{
	border: 2px dashed #ccc !important;
	color: #ccc !important;
	background-color: white !important;
	pointer-events: none;
}

.prevent-events{
	pointer-events: none;
}

.coming-soon{
	color: #5b96ea;
	font-weight: 500;
}

.cc-compliance > a.cc-allow{
    padding: 0 0 !important;
    width: 3%!important;
    margin-right: 56px !important;
    min-width: 0px !important;
}
.cc-compliance > .cc-allow:hover, .cc-compliance > .cc-allow:focus {

}
.cc-dismiss{
    font-weight: 500;
}
.cc-message{
    text-align:center;
}
.cc-link{
    color: red !important;
}

.rider_main_div_disable{
    opacity: 0.5;
    /* filter: grayscale(50%); */
    pointer-events: none;  
}
