.custom_devo{
	display: none;
	border-radius:5px;
	text-align:center;
}
.sa{
	    font-size: 14px !important;

}

.change-color{
	color:#21b4e6 !important;
	font-size:17px !important;
}
.chnge-clr{
	color: Black;
}
.check-h1{
	margin-top: 10px;
	color: #424242;
	font-size: 22px;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
.check-text{
	margin-top: 5px;
	color: #424242;
	font-size: 12px;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
.wizard {
	text-align: center;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover {
	display:none !important;
}
.wizard > .steps .disabled a {
    display: none;
}
.woocommerce-billing-fields label {
	display: none !important;

}
.woocommerce-billing-fields{
	width: 32%;
	display: inline-block;
}
.woocommerce-billing-fields p textarea{
	height:80px !important;
	resize: none;
}

.wizard>.actions {
	text-align:center;
	width:100%;
}
.woocommerce-info {
	display: none;
}
h3{
	/* display: none; */
}

p#billing_postcode_field {
	width:49%;
	display: inline-block;

}
p#billing_phone_field{
	width:50%;
	float: right;
	margin-left:3px;
}
@media only screen and (max-width: 500px) {
    .wizard > .actions a{
		margin-left: -3%;
		margin-right: -3%;
	}
	p#billing_postcode_field {
		width:100%;
		display: inline-block;

	}
	p#billing_phone_field{
		width:100%;
		display: inline-block;
		margin-bottom: 10px;
	}
	.woocommerce-billing-fields {
		width: 100% !important;
	}
	.wizard>.actions a{
		padding: 0.7em 6em !important;
	}
	#cancel_address_btn {
		width: 92% !important;
		margin-left: 15px !important;
	}
	#cancel_addrs_btn{
		width: 92% !important;
		margin-left: 15px !important;
	}
	#save_add {
		width: 92% !important;
		margin-left: 15px !important;
	}
	.selectRadio1{
	    margin-left: -3px !important;
		z-index: -1 !important;
	}
}

.selectRadio1{
	margin-left:19px;
	z-index:-1;
}
#save_add{
	width:95%;
	margin-left: 0px;
}
#cancel_address_btn{
	width: 95%;
    margin-left: 15px;
}
#cancel_addrs_btn{
	width: 95%;
    margin-left: 15px;
}


.shop_table{
	/* display:none !important; */
}
.woocommerce-checkout-review-order-table{
	display:none !important;
}



.head-orders{
	text-align: center;
    font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
    line-height: 2.1em;
    margin-top: -60px;
	font-size: 25px !important;
}
.woocommerce-pagination a{
	width: 15% !important;
}

 .wc-credit-card-form-card-expiry{
	float: left;
    width: 50%;
    display: inline-block;
}

.woocommerce form .form-row {
    margin-bottom: 0px;
}
.wizard>.steps{
	display:none;
}

body.page-template-default .entry.page {
	 background: none !important;
	 border: none !important;

}
.wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover {
	padding: 0.7em 10em;
	background: #fd0e35;
    line-height: 2.4em;
	border-radius: 5px;
}
#finish{
	width;100%;

}
.wizard>.actions>ul>li{
	margin: 15px .5em;
}

.stripe_new_card label{
	display: none !important;
}

.wc-credit-card-form{
	margin-left:29%;
	margin-right:28%;

}
.wc-credit-card-form-stripe-post-code{
	margin-left:30% !important;
	width: 41% !important;
	margin-top:8px !important;
}
.payment_box{
	background: none !important;
}
#payment div.payment_box input.input-text {
    border-color: #ccc !important;
    border-top-color: #ccc !important;
}
#billing_myfield12{
	border-color: #ccc !important;
    border-top-color: #ccc !important;
}
.woocommerce-billing-fields p:nth-last-child input{
	display:none !important;
}

.woocommerce-billing-fields woocommerce-validated{
	display:none !important;
}

.payment_method_stripe{
	margin-left:3% !important;
	margin-top: -1% !important;
}

#payment div.payment_box{
	width: 95% !important;
	padding:none;
	margin:none;
}

.wizard>.actions>ul>li {
	display:none;
}
#_field{
	display:none;
}

/*----Payment Css----*/

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
	font-size:16px !important;
	font-family: serif;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry{
	font-size:16px !important;
	font-family: serif;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc{
	font-size:16px !important;
	font-family: serif;
	margin-top: -40px !important;
}

.wc-credit-card-form-card-number{
	width: 100% !important;
	height: 40px !important;
}
.wc-credit-card-form-card-expiry{
	float: left !important;
    width: 48% !important;
}
.site-content input[type="tel"],.woocommerce input[type="tel"]{
	/* width: 97% !important; */
}
.wc-credit-card-form-card-cvc{
	float: right !important;
	width: 47% !important;

}

.wc-credit-card-form-stripe-post-code{
	height: 40px !important;
	font-family: serif !important;
}

/*----------------Billing--------------------------*/

input#billing_address_1,input#billing_address_2,input#billing_postcode,input#billing_phone{
	min-height: 55px;
    border-radius: 0px !important;
}
#custom-div_bill{
	width: 100%;
	display: inline-block;
	border-radius: 5px;
}

#over_add_flow::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #F5F5F5;

}
#over_add_flow::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}
#over_add_flow::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
#over_add_flow{
	width: 100%;
	display: inline-block;
	min-height: 81px;
	max-height: 185px;
	overflow-y: auto;
	overflow-x: hidden;
}
a.btn-dlt{
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
	font-size:12px;
}
input.selectRadio{
	height:20px !important;
}

.radio_box{
	margin-left:22px !important;
}
.radio_box1{
	margin-left:-11px !important;
}
.hidesheak_bc{
	display:none;
}
span.ca_spn{
	width: 100%;
	text-align: left;
	float: left;
    font-size: 14px;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
span.ca_spn_h1{
	width: 100%;
	text-align: left;
	float: left;
	font-weight:600;
    font-size: 14px;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
#a_div{
	width:100%;
	display:inline-block;
}
a#add-new-add{
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
	font-size:12px;
	text-align:left;

}
 span.del{
	float: right;
    padding: 0px;
    font-size: 14px;
    text-align: center;
  	margin-right:9px;
    cursor: pointer;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}

p.checkboxtitle-cus {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
#order_comments_field{
	display:none;
}

.checkout_saved_addresses_row {
    padding: 12px 0;
}

/*-----Add New Address Button----*/

#add_div{
	width:100%;
	display:inline-block;
}

.woocommerce-MyAccount-content{
	width:55%;
	margin-left:25%;
}

#edit-fm-line{
    /* background: #ccc; */
	border-top: 1px dashed #ccc;
	border-width: 2px;
    display: -webkit-inline-box;
    height: 1px;
    width: 95%;
    margin-left: 15px;
	margin-top: 4px !important;
	margin-bottom: 8px !important;
	float:left;
  display: -moz-inline-box;
}
.errorpayment{

	background-color:#fd0e35;
	border-radius: 3px;
	width:100%;
	margin-left:0px;
	margin-right:10px;
	height: 60px;
}
.errortext{
	font-size: 12px !important;
		line-height: 24px;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 0px 0 !important;
	    color:white;

}

.errortextcross{
	font-size: 12px !important;
		line-height: 24px;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 0px 0 !important;
	   color:white;
	   margin-left: 58px !important;
       margin-top: 3px !important;
}

#crosserror{

	margin-left: 45px Important;
    margin-top: 4px Important;
    height: 15px Important;
    width: 15px Important;
}


hr{
	border:0;
	margin-bottom:1.5em;
	margin-top: 20px;
	box-sizing: content-box;
}

/* .custom-form-css { */
    /* width: 100%; */
    /* border: 0.5px solid #CCC; */
    /* border-radius: 4px; */
    /* margin-bottom: 4%; */
	/* padding-left: 15px; */
    /* padding-right: 15px; */
/* } */
.gen-name-cls-right {
    padding: 0px 0px 15px 7px;
    display: inline-block;
}
.gen-name-cls {
	padding: 0px 7px 15px 0px;
	display: inline-block;
}
.gen-name-cls-mid{
	padding: 0px 7px 15px 7px;
	display: inline-block;
}
.gen-name-full{
	padding: 0px 0px 15px 0px;
	display: inline-block;
}
.gen-name-cls span, .gen-name-cls-right span, .gen-name-full span, .gen-name-cls-mid span{
	float: left;
	font-size: 16px;
	margin-right: 30%;
	/* font-weight: 700; */
}
/* #edit_link_gen { */
    /* float: right; */
    /* padding: 2% 0px 0px 0px; */
    /* font-size: 20px; */
    /* font-weight: 700; */
	/* font-family: HelveticaNeue-Light,Helvetica Neue Light !important; */
/* } */
.del a{
	text-decoration: none;
}
 a:hover {
    /* color: #000 !important; */
    text-decoration: underline;
}
#edit_link_gen a:hover {
    cursor: pointer;
}
form.edit-account .btn-csl{
	background:#FD0E35;
	color:#fff;
	font-weight: bold;
	border-radius:2px;
	border:1px solid #D8D8D8;
}
form.edit-account .btn-csl:hover{
	border:1px solid #fff;
}
form.edit-account .btn-save{
	background:#FD0E35;
	color:#fff;
	font-weight: bold;
	border-radius:2px;
	border:1px solid #FD0E35;
}
form.edit-account .btn-save:hover{
	border:1px solid #fff;
}
a:hover, a:active {
  /*  color: #fd0e35; !important; */
    /* text-decoration: none; */
}


/* #general_head{ */
	/* float: left; */
	/* padding: 2% 0px 0px 0px; */
	/* font-size: 17px; */
	/* font-weight: 700; */
	/* color: #414551; */
	/* font-family: HelveticaNeue-Light,Helvetica Neue Light !important; */
/* } */



#stp_d{
	float: right;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
	font-family:AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
#edit-div_gen{
	display:none;
}
#edit-div_pwd{
	display:none;
}
#edit-div_addrs{
	display:none;
}
#edit-div_card{
	display:none;
}
/* #edit_link_gen{ */
	/* float: right; */
	/* padding: 2% 0px 0px 0px; */
	/* font-size: 20px; */
	/* font-weight: 700; */
	    /* margin-top: -5px !important; */
/* } */
.custm-btn {
	width: 100%;
	height: 40px;
	font-size: 16px !important;
	padding: 2% !important;
	text-align: center;
	/* margin-left: 75px */
}

.custm-btn:hover{
	/* color: #50e3c2 !important; */
}

.gen-12{
	width: 100% !important;
}
.gen-name-gen, .gen-name-edit{
	padding: 0px;
}

.custom-input {
    width: 100%;
    float: left;
    height: 40px;
    border-radius: 2px !important;
    border: 1px solid #CCC !important;
    padding: 10px !important;
    font-size: 16px;
    font-weight: 700 !important;
	font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
}
.woocommerce-MyAccount-navigation{
	display:none;
}
/* .head-account{ */
	/* text-align:center; */
	/* font-family: HelveticaNeue-Light,Helvetica Neue Light !important; */
	/* font-family:Avenir Next Demi Bold; */
	/* line-height:2.1em; */
	/* margin-top: -60px; */
	/* font-size:25px !important; */
/* } */
#address-add-div{
	width: 35%;
    margin-left: 33%;
}
/*-----Payment Details Image Margin---- */

#payment ul.payment_methods li img {
	margin: 1px 0 0 0.5em !important;
}

/*-----Payment Details Image Margin End Here---- */

.site-content input[type="radio"]:not(checked),.woocommerce input[type="radio"]:not(checked){
	position: absolute !important;
    opacity: 1 !important;
	-webkit-appearance: radio !important;

}

#wizard .payment_methods li input {
    margin-top: 8px !important;
    margin-right: 0px !important;
}

#payment ul.payment_methods{
	border-bottom:none !important;
}
.promocode_anchor {
	left: 50px !important;
    text-align: left !important;

	margin-left: 5%;
	text-decoration: none !important;
}
#coupon_code {
    width: 100%;
    display: inline-block;
	padding: 3px;
}



#coupon_div {
	padding: 0 0%;
	width: 55%;
	text-align: center;
    margin-left: 22%;
	display: inline-block;
	font-size: 12px;
	font-family: AvenirLTStd-Roman, "Helvetica Neue Light", "Helvetica Neue", sans-serif !important;
}
a:focus{
	/*  color: #fd0e35 !important;  */
	/* color: #ffffff !important;
	text-decoration:none; */
}

.woocommerce-error{
	padding: 1em 2em 1em 3.5em!important;
	position: relative;
}
.woocommerce .woocommerce-error {
    border: 2px solid #fd0e35;
    background-color: #fff;
    display: inline-block;
}
.woocommerce .woocommerce-error {
    width: auto;
}
.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before {
    font-family: WooCommerce;
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;

}
.woocommerce-error:before {
    content: "\e016";
	color: #fd0e35 !important;

}
.promo-code{

}
#cr{
	text-align:left;
	margin-top:0px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: left;
}
#cr .woocommerce-message{
	display: block !important;
	margin-bottom: 0px !important;
}

@media (max-width: 768px){
	.woocommerce-billing-fields {
		width: 100% !important;
	}
}

<!-----Media Query for Saved Address----------------------->

@media screen and (min-width:1327px) and (max-width: 2652px) {
		#address-add-div{
			margin-right: 16% !important;
			margin-left: -58% !important;
		}
	}

@media screen and (min-width:1200px) and (max-width: 1326px) {
		#address-add-div{
			margin-left: 33% !important;
		}
	}
@media screen and (min-width:992px) and (max-width: 1199px) {
	#address-add-div{
		margin-right: 0% !important;
		margin-left: 31% !important;
	}
	#address-add-div {
		width:39% !important;
	}
	.hr_line{
		width:50% !important;
	}
	/* .errorpayment{
		width: 100% !important;
		margin-right: 55px !important;
	} */
}
@media screen and (min-width:768px) and (max-width: 991px) {
	#address-add-div{
		margin-right: 0% !important;
		margin-left: 0% !important;
	}
	#address-add-div {
		width:100% !important;
	}
	.hr_line{
		width:100% !important;
	}
	span.ca_spn_h1{
		margin-left: 12px !important;

	}
	span.ca_spn{
	margin-left: 12px !important;
	}
	span.del{
		margin-right:-23px !important;
	}
	.fea-margin_left {
     margin-left: 100px !important;
	}

}
@media screen and (min-width:650px) and (max-width: 767px) {
	#address-add-div{
		margin-right: 0% !important;
		margin-left: 22% !important;
	}
	#address-add-div {
		width:58% !important;
	}
	.hr_line{
		width:60% !important;
	}
	.errortext1{
		font-size: 13px !important;
		line-height: 19px;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 5px 0px !important;
		color: white;
	}

}
@media screen and (min-width:586px) and (max-width: 649px) {
	#address-add-div{
		margin-right: 28% !important;
		margin-left: 17% !important;
	}
	#address-add-div {
		width:65% !important;
	}
	.hr_line{
		width:65% !important;
	}

}
	.criticlimg  {
		margin-left: 37px;
		margin-top: 16px;
		height: 25px;
		width: 25px;"

	}

	.crossimg{
			margin-left: 32px;
		margin-top: 8px;
	}
	.errorpaymentt {
		background-color: #fd0e35;
		border-radius: 3px;


	}
}

@media screen and (min-width:320px) and (max-width: 585px) {


	.errortext1{
		font-size: 13px !important;
		line-height: 19px;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 5px 0px !important;
		color: white;
	}

	#address-add-div{
		margin-left: 0% !important;
		width: 100%;
	}
	.hr_line{
		width:100% !important;
	}


}
@media(max-width: 540px)
{
	.saved_add_address_anchor{
		text-align: center;
	}
	#add-new-add{
		right:35% !important;
	}
	.hr_line{
		width:100% !important;
	}
	.woocommerce-MyAccount-content {
		width:100%;
		margin-left:0%;
	}
	.radio_box {
		margin-left: 0px !important;
	}
	.wc-credit-card-form{
		width:100% !important;
		margin-left:4% !important;
	}
	.wc-credit-card-form-stripe-post-code{
		margin-left: 5% !important;
		width: 100% !important;
	}
	.wc-credit-card-form-card-expiry{
		width: 100% !important;
	}
	.wc-credit-card-form-card-cvc{
		width: 100% !important;

	}
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc{
		margin-top: 8px !important;
	}

	.fea-margin_left {
     margin-left: 75px !important;
	}

	span.del{
		margin-right: -16px !important;
	}

	.errortext1{
		font-size: 13px !important;
		line-height: 19px;
		font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
		margin: 5px 0px !important;
		color: white;
	}

}
/* ------PaymentCheckout CSS------ */
	.payment_method_cod{
		display: none !important;
	}

	#card-list-div{
		width: 44% !important;
		margin-left: 29% !important;
	}
	#enter_nc_btn{
		margin-left: 28%; !important;
		text-decoration: none;
	}

	.promocode_anchor{
		margin-right: 25% !important;
	}

@media (max-width: 540px){
	.payment_actions_labels {
		display: block !important;
	}
	#enter_nc_btn {
		margin-left: 0% !important;
	}
	#card-list-div {
		width: 100% !important;
		margin-left: 4% !important;
	}
	.promocode_anchor{
		text-align: center !important;
		margin-left: 0% !important;
	}
	.add_saved_anchor{
		margin-left: 0% !important;
	}
	.promocode_anchor {
		left: 50px !important;
		margin-left: 2% !important;
		text-decoration: none !important;
	}
	.wc-terms-and-conditions label{
		margin-left: 15% !important;
	}

}

@media only screen and (max-device-width :732px) {
	#cancel_address_btn {
    width: 92% !important;
    margin-left: 15px;
}

	#save_add {
    width: 92% !important;
    margin-left:14px !important;
}
.ca_spn_h1{
		margin-left:12px !important;

	}

	.ca_spn{

		margin-left:12px !important;
	}
}


.newpromocode_anchor{
	margin-left:31% !important;
}

input[type='radio'] {
  -webkit-appearance:none;
  -moz-appearance: radio !important;
  width:15px;
  border:1px solid red;
  border-radius:50%;
  background-color:red;
  background: none repeat scroll 0 0 #94E325;

}
 input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
		background-color: #d1d3d1;
        visibility: visible;
        border: 2px solid red;
		background: none repeat scroll 0 0 #94E325;
}

/* tringle image use for error*/

.img_tringle{
	width:35%;
	margin-top:12px;
	margin-left:15px;
}

/* error cross image hide */
.img-cross{
	width:17%;
	margin-left:68px;
	margin-top:15px;
	float: right;
	display:none;
}

/*  end  error cross image hide */

.bbccc{
	width: 100%;
    margin-left: 0px;
}
 .errortext1{
	font-size: 13px !important;
    line-height: 18px;
    font-family: AvenirLTStd-Roman,"Helvetica Neue Light","Helvetica Neue",sans-serif !important;
    margin: 5px 0px !important;
    color: white;
}

.fea-margin_left{
	margin-left:201px;
}


/* new my account page css */

.woocommerce-EditAccountForm {
    background-color: white;
    padding: 15px;
	margin-bottom: 25px;
	padding-bottom: 1px;
}


#general_head {
	
    float: left;
    font-size: 25px;
    font-weight: 400;
    color: #414551;
	font-family: avenir next demi bold !important;
 
}


#edit_link_gen {
    float: right;
    font-weight: 300;
	font-family: HelveticaNeue-Light,Helvetica Neue Light !important;
}


.head-account{
	text-align:center;
	font-family:Avenir Next Demi Bold;
	line-height:2.1em;
	margin-top: -60px;
	font-size: 40px;
}

input[type="text"], input[type="url"] , input[type="email"], input[type="number"], input[type="password"] {
 
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    padding: 0 15px !important;
 
    margin-bottom: 10px !important;
    font-weight: 200 !important;
}


.section-title {
    display: block;
    text-align: left;
    padding: 20px 30px;
    border-bottom: 1px solid #cacccc;
}


.btn.btn-fixed-small {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
 
}
.btn.btn-primary {
    background-repeat: no-repeat;
    background-color: #FD0E35;
    border: none;
    box-shadow: none;
    outline: none;
    color: #FFF;
    font-weight: 600;
}

.tap-add{
	margin-left: 90px;
    cursor: pointer;
}

.tap-add40{
	margin-left: 40px;
    cursor: pointer;
}

.ca_spn, .ca_spn_h1{
	line-height: 10px;
}

.hr-color{
	border-top: 1px solid #ccc;
}


.onhover_change{
	line-height: 18px;
}
 

.del{ display: none; }

.card_hr{
	margin: 25px -15px;
}

.password_change_show{
	display:none;
}

/* ends new my account page css */